#include <winres.h>
#include <commctrl.h>
#include "resource.h"

LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT
STRINGTABLE
{
    IDS_ERROR_MAIN_INSTR          "Ваша копия ОС Windows признана нелицензионной"
    IDS_ERROR_MSG                 "В соответствии с законом, использование нелицензинонных копий программного обеспечения запрещено. В связи с этим ОС Windows на вашем компьютере подлежит удалению в течение 10 минут.\nПродолжить?"
    IDS_DECLINE_MSG               "Использование нелицензионной операционной системы незаконно, поэтому Вы не имеете права отказаться от данной процедуры."
    IDS_END_MSG                   "Удаление Windows завершено. Для продолжения необходима перезагрузка."
    IDS_ERROR_TITLE               "Ошибка Windows"
    IDS_DELETING_TITLE            "Удаление Windows"
    IDS_DELETING_MSG              "Удаление Windows..."
    IDS_JUST_JOKE                 "Это была всего лишь шутка! С 1 Апреля!"
}

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDI_INSTALL          ICON         "./install.ico"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
1                  RT_MANIFEST    "./manifest.xml"
